@import "bourbon/bourbon";
@import "base/base";
@import "log";
@import "gauge";

body {
  padding-top: $base-line-height * 1em;
}

body.overload {
  background-color: $light-red;
}

h1 {
  font-weight: normal;
  font-size: $base-font-size * 2.5;
  margin-left: 30px;
  margin-bottom: $base-line-height * 0.5em;
  width: 300px;
  float: left;
}

canvas {
  margin: ($base-line-height * 1em) 3%;
}